################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SDMine.Collector/v14
/SDMine.Collector/obj/Debug
/SDMine.Collector/bin/Debug
/SDMine.Collector.Services/SDMine.Collector.Services.csproj.user
